.bottom > ul {
    scrollbar-color: var(--bg2cd) var(--bg3); /* thumb color and track color */
    scrollbar-width: thin; /* Options: auto, thin, none */
}
.bottom li{
 background: var(--bg2);
 height: 2.5rem;
 border: 1px solid var(--bg3);
 border-radius: 7px;
}