.feels{

    /* background: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 0.5rem;
}
.feels span{
    background: var(--bg2);
    display: block;
    height: 6rem;
    border: 1px solid var(--bg3);
    border-radius: 10px;
}
.screen{
    background: url("/images/bg-today-large.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dailyForcast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.5rem;
}
.dailyForcast li{
    background: var(--bg2);
    height: 9rem;
    border: 1px solid var(--bg3);
    border-radius: 10px;
}